<div class="head gradientl desk">
    <img src="<%= baseurl() %>images/kadence_icon.png" class="logo">
</div>
<div class="sidebar desk">
    <ul class="menu">
        <li><a href="<%= baseurl() %>" class="size-std"><img src="<%= baseurl() %>images/icon/dashboard.png"> Dashboard</a></li>
        <li><a href="<%= baseurl() %>delivery" class="size-std"><img src="<%= baseurl() %>images/icon/upload-delivery.png">Delivery</a></li>
        <li><a href="<%= baseurl() %>service" class="size-std"><img src="<%= baseurl() %>images/icon/upload-service.png">Service</a></li>
        <% if(login.typeses=="super" || login.typeses=="admin" || login.typeses=="coordinator"){ %>
        <li><a href="<%= baseurl() %>report/" class="size-std"><img src="<%= baseurl() %>images/icon/report.png">Report</a></li>
        <% } %>
        <li><a href="<%= baseurl() %>report/pdf/download/" class="size-std"><img src="<%= baseurl() %>images/icon/report-pdf.png">Offline Report PDF</a></li>
        <li><a href="<%= baseurl() %>report/topline/download/" class="size-std"><img src="<%= baseurl() %>images/icon/upload-service.png">Topline Report</a></li>
        <% if(login.typeses=="super"){ %>
        <li><a href="<%= baseurl() %>report/ppt/download/" class="size-std"><img src="<%= baseurl() %>images/icon/report.png">NMI/NML Report</a></li>
        <li><a href="<%= baseurl() %>user" class="size-std"><img src="<%= baseurl() %>images/icon/profile-blue.png">User</a></li>
        <% } %>
        <li><a href="<%= baseurl() %>logout" class="size-std"><img src="<%= baseurl() %>images/icon/logout-blue.png">Logout</a></li>
    </ul>
</div>