<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Delivery</title>
    <link rel="stylesheet" href="<%= baseurl() %>css/style.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/mystyle.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/style_button.css">
	<link rel="stylesheet" href="<%= baseurl() %>css/component.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/responsive.css">
</head>
<body>
<div class="wrapper">
    <div class="lSide">
		<% include ./partials/sidebar %>
    </div>
    <div class="rSide desk">
		<div class="head gradientr desk">
			<% include ./partials/topdesk %>
		</div>
		<div class="mainbox size-std column">
			<div class="title-content size-std" style="background-color: #68baf9; width: 100%; padding: 10px 10px; margin: 10px 5px; color: #ffffff;">
				DASHBOARD > Delivery - <%= login.nameses %>
            </div>
            <div class="cols-12 column containt" style="margin: 10px 0; background-color: #ffffff;">
				<div class="headtitle trans" style="margin-bottom: 0;">
					<p class="size-head4 nopad">Delivery FIles</p>
				</div>
				<div class="list-control">
					<div class="list-control-box">
						<button class="option-click btn-list-control size-std" href="#list-control-show">
							Show :&nbsp; 20 
							<img src="<%= baseurl() %>images/icon/arrow-down.png" class="icon-list-control">
						</button>
						<div class="option-box option-menu shadow half box-list-control" id="list-control-show">
							<ul class="full-length nopad">
								<a href=""><li class="pad-tb size-std">50</li></a>
								<a href=""><li class="pad-tb size-std">100</li></a>
								<a href=""><li class="pad-tb size-std">200</li></a>
							</ul>
						</div>
					</div>	
					<div class="valchecked"></div>  
				</div>
				<div class="full-length" style="overflow-x: auto; padding-bottom: 40px;">
					<form id="count-checked">
						<table class="size-std full-tables">
							<tr>
								<th>
									<div class="checkboxtype1">
									 <input type="checkbox" id="selectall" name="radio" />
									 <label for="selectall" id="chartd"><span></span></label>
									</div>
								</th>
								<th style="text-align: left; padding: 8px; width: 100px;">Dealer</th>
								<th style="text-align: left;">Nama Sales</th>
								<th>Type</th>
								<th>Tanggal Upload</th>
								<th>Update</th>
								<th style="width: 100px;">Action</th>
                            </tr>
								<% 
								for(res of show){ 
									if(res.type_exceldlv=="0"){
										var type = "[DRAFT]"
									}else{
										var type = "[FIX]"
									}
								%>
                                <tr>
                                    <td>
										<div class="checkboxtype1">
											<input type="checkbox" id="radio<%= show.id_exceldlv %>" name="radio" class="select cnt-chk"/>
											<label for="radio<%= show.id_exceldlv %>" id="chartd"><span></span></label>
										</div>
									</td>
                                    <td><%= res.id_dealer %></td>
									<td><%= res.sales_name %></td>
									<td align="center"><%= type %></td>
									<td align="center"><%= moment(res.upload_exceldlv).format("DD-MMM-YYYY") %></td>
									<td align="center"><%= moment(res.update_exceldlv).fromNow() %></td>
                                    <td align="center"><a href="<%= baseurl() %>delivery/detail/<%= res.id_exceldlv %>">view</a></td>
                                </tr>
                                <% } %>
                        </table>
					</form>
					<div class="size-std numberofrows">
						Show 20 of 150
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<% include ./partials/footer %>
</body>
</html>