<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>List Service</title> -->
    <style>
    .warning-table{
        background-color: rgba(255, 0, 0, 0.2) !important;
    }
    .safe-table{
        background-color: #f2f9fa !important;
    }
    </style>
    <link rel="stylesheet" href="<%= baseurl() %>css/style.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/mystyle.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/style_button.css">
	<link rel="stylesheet" href="<%= baseurl() %>css/component.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/responsive.css">
</head>
<body>
<div class="blur" style="display: none; z-index: 1001" onclick="closePopup()"></div>
<div class="popup">
    <div class="close-onbox" onClick="closePopup()">
        <div style="width: 15px; height: 15px;">
            <img src="<%= baseurl() %>images/icon/cross-thick.png">
        </div>
    </div>
    <div class="popupContent full-length">
        <table style="height: 100%; width: 100%;">
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <!-- <div class="popupBtn">
        <a href="" class="myButton-gradBlueGreen size-std"></a>
        <a href="" class="myButton-white size-std"></a>
    </div> -->
</div>
<div class="wrapper">
    <div class="lSide">
		<% include ./partials/sidebar %>
    </div>
    <div class="rSide desk">
		<div class="head gradientr desk">
			<% include ./partials/topdesk %>
		</div>
		<div class="mainbox size-std column">
			<div class="title-content size-std" style="background-color: #68baf9; width: 100%; padding: 10px 10px; margin: 10px 5px; color: #ffffff;">
				<a href="<%= baseurl() %>">DASHBOARD</a> > <a href="<%= baseurl() %>service">Service</a> > <%= files[0].filename_excelsrv %>
            </div>
            <div class="containt spccols-6 spc-tb">
                <table class="full-length padding-tab size-head4">
                    <tr>
                        <td>Dealer</td>
                        <td><%= files[0].id_dealer %></td>
                    </tr>
                    <tr>
                        <td>Uploader</td>
                        <td><%= files[0].sales_name %></td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><%= type %></td>
                    </tr>
                    <tr>
                        <td>Upload Date</td>
                        <td><%= moment(files[0].upload_excelsrv).format("DD-MMM-YYYY") %></td>
                    </tr>
                    <tr>
                        <td>Update</td>
                        <td><%= moment(files[0].update_excelsrv).fromNow() %></td>
                    </tr>
                </table>
            </div>
            <div class="cols-6" style="padding: 0 5px; margin: 0;">
				<div class="column" style="width: 100%; padding: 10px 0;">
                    <% if(files[0].type_excelsrv=="0"){ %>
					<div class="spccols-2 delay square btn-icon-big" style="background-color: #ffffff; border: 1px solid #d6d5d5; text-align: center;">
						<table style="height: 100%; width: 100%; color: #959a9c;">
							<tr>
								<td>
									<a href="<%= baseurl() %>service/remove/<%= files[0].id_excelsrv %>">
										<img src="<%= baseurl() %>images/icon/error-icon.png" alt="Upload Project" style="width: 55%; vertical-align: middle;">
										<br><br>
										<b>Remove</b>
									</a>
								</td>
							</tr>
						</table>
                    </div>
                    <% } else{%>
                        <div class="spccols-2 delay square btn-icon-big" style="background-color: #ffffff; border: 1px solid #d6d5d5; text-align: center;">
                            <table style="height: 100%; width: 100%; color: #959a9c;">
                                <tr>
                                    <td>
                                        <a href="<%= baseurl() %>filexls/fix/<%= files[0].filename_excelsrv %>">
                                            <img src="<%= baseurl() %>images/icon/download-xlsx.png" alt="Download File" title="Download file <%= files[0].filename_exceldlv %>" style="width: 55%; vertical-align: middle;">
                                            <br><br>
                                            <b>Download File</b>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    <% } %>
				</div>
            </div>
            <div class="cols-12 column containt" style="margin: 10px 0; background-color: #ffffff;">
                <div class="list-control">
					<div class="list-control-box">
						<button class="option-click btn-list-control size-std" href="#list-control-show">
							Show :&nbsp; 20 
							<img src="<%= baseurl() %>images/icon/arrow-down.png" class="icon-list-control">
						</button>
						<div class="option-box option-menu shadow half box-list-control" id="list-control-show">
                            <%
                                if(page>=1){
                                    var urlquery = "?page="+page+"&show="
                                }else{
                                    var urlquery = "?show="
                                }
                            %>
							<ul class="full-length nopad">
								<a href="<%= baseurl() %>service/detail/<%= files[0].id_excelsrv+urlquery %>50"><li class="pad-tb size-std">50</li></a>
								<a href="<%= baseurl() %>service/detail/<%= files[0].id_excelsrv+urlquery %>100"><li class="pad-tb size-std">100</li></a>
								<a href="<%= baseurl() %>service/detail/<%= files[0].id_excelsrv+urlquery %>200"><li class="pad-tb size-std">200</li></a>
							</ul>
						</div>
                    </div>
					<div class="valchecked"></div>  
                </div>
                <div class="full-length" style="overflow-x: auto; padding-bottom: 40px;">
                    <form id="count-checked" class="frmdata" method="POST" action="<%= baseurl() %>service/deletechecksrv/<%= files[0].id_excelsrv %>">
						<table class="size-std full-tables">
							<tr>
								<th>
									<div class="checkboxtype1">
									 <input type="checkbox" id="selectall" name="radio" />
									 <label for="selectall" id="chartd"><span></span></label>
									</div>
								</th>
                                <th style="text-align: center; padding: 8px; width: 50px;">No</th>
                                <th>Date of Sent</th>
                                <!-- <th>Dealer Name</th>
                                <th>Dealer City</th>
                                <th>Dealer Region</th> -->
                                <th>Dealer</th>
                                <!-- <th>Dealer Type</th>
                                <th>Dealer Group</th> -->
                                <th align="left">Owner Name</th>
                                <th align="left">User Name</th>
                                <th align="left">Mobile No</th>
                                <th align="left">Model</th>
                                <th align="left">Chassis No</th>
                                <th>Permanent Reg No</th>
                                <th>KM</th>
                                <th>SA Name</th>
                                <th>Action</th>
                            </tr>
                            <% 
                            for(read of result){ 
                                if(read.flag_service==0){
                                    var class_tab = "warning-table"
                                }else{
                                    var class_tab = "safe-table"
                                }
                            %>
                            <tr>
                                <td class="<%= class_tab %>">
									<div class="checkboxtype1">
										<input type="checkbox" id="radio<%= read.id_service %>" name="checksrv" value="<%= read.id_service %>" class="select cnt-chk"/>
										<label for="radio<%= read.id_service %>" id="chartd"><span></span></label>
									</div>
                                </td>
                                <td  class="<%= class_tab %>" align="center"><%= read.id_service %></td>
                                <td  class="<%= class_tab %>" align="center"><%= moment(read.tgl_uploadsrv).format("DD/MM/YYYY") %></td>
                                <td  class="<%= class_tab %>" align="center"><%= read.id_dealer %></td>
                                <td  class="<%= class_tab %>"><%= read.nama_stnk %></td>
                                <td  class="<%= class_tab %>"><%= read.user_name %></td>
                                <td  class="<%= class_tab %>"><%= read.no_hp %></td>
                                <td  class="<%= class_tab %>"><%= read.type_kendaraan %></td>
                                <td  class="<%= class_tab %>"><%= read.no_rangka %></td>
                                <td  class="<%= class_tab %>"><%= read.no_polisi %></td>
                                <td  class="<%= class_tab %>" align="center"><%= read.km %></td>
                                <td  class="<%= class_tab %>" align="center"><%= read.name_sa %></td>
                                <td class="<%= class_tab %>" align="center"> 
                                    <% if(files[0].type_excelsrv=="0"){ %>
                                    <a href="<%= baseurl() %>service/edit/<%= files[0].id_excelsrv %>/<%= read.id_service %>"><img src="<%= baseurl() %>images/icon/pencil-edit.png" alt="Edit" title="Edit" width="18"></a> &nbsp;
                                    <% } %>
                                    <a href="<%= baseurl() %>service/detail/<%= files[0].id_excelsrv %>/<%= read.id_service %>"><img src="<%= baseurl() %>images/icon/detail.png" alt="Detail" title="Detail" width="18"></a>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                    </form>
					<div class="size-std numberofrows">
                        <ul class="pagination nopad">
                            <% 
                            if(count>7){ 
                                if(count==page){
                                    var lastclass = "active"
                                }else{
                                    var lastclass = ""
                                }
                            } 
                            %>
                            <% if(page>=6){ %>
                                <li class="<%= lastclass %>"><a href="<%= baseurl() %>service/detail/<%= files[0].id_excelsrv%>?page=1"><%= 1 %></a></li>
                                <li class="<%= classes %>"><a href="<%= baseurl() %>service/detail/<%= files[0].id_excelsrv%>?page=<%= lastarray %>">...</a></li>
                            <% } 
                            if(count>7){
                                var pagelength = 7
                            }else{
                                var pagelength = count
                            }
                            var len = arrpage.length
                            var lastarray = arrpage[6]+1
                            for(var i=0;i < arrpage.length;i++){ 
                                if(page==arrpage[i]){
                                    var classes = "active"
                                }else{
                                    var classes = ""
                                }
                                if(page==0){
                                    if(arrpage[i]==1){
                                        var classes = "active"
                                    }
                                }
                            %>
                                <li class="<%= classes %>"><a href="<%= baseurl() %>service/detail/<%= files[0].id_excelsrv%>?page=<%= arrpage[i] %>"><%= arrpage[i] %></a></li>
                            <% }
                            if(page<=count-5 && count > 7){ %>
                                <li class="<%= classes %>"><a href="<%= baseurl() %>service/detail/<%= files[0].id_excelsrv%>?page=<%= lastarray %>">...</a></li>
                            <% } 
                            if(count>7){ 
                                if(count==page){
                                    var lastclass = "active"
                                }else{
                                    var lastclass = ""
                                }
                            %>
                            <li class="<%= lastclass %>"><a href="<%= baseurl() %>service/detail/<%= files[0].id_excelsrv%>?page=<%= count %>"><%= count %></a></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="size-std numberofrows" style="right: 15px; left: unset;">
                    <% if(files[0].type_excelsrv=="0" && login.iddealerses==files[0].id_dealer){ %>
                        <a href="<%= baseurl() %>service/savepermanent/<%= files[0].id_excelsrv %>" class="myButton-gradBlueGreen">Save Permanent</a>
                    <% } %>
                    </div>
				</div>
            </div>
		</div>
    </div>
</div>
<% include ./partials/footer %>
<script>
    function deletecheck(){
        var data = $(".frmdata").serialize();
        var checkbox_value = "";
        $(":checkbox").each(function () {
            var ischecked = $(this).is(":checked");
            if (ischecked) {
                checkbox_value += $(this).val() + "|";
            }
        });
        $.ajax({
            type: "post",
            url: "<%= baseurl() %>service/deletechecksrv/<%= files[0].id_excelsrv %>",
            data: data,
            cache: false,
            success: function(del){
                $('.popup').show()
                $('.blur').show()
                $('.popupContent table tr td').html(del)
                $('.valchecked').text(data)
            }
        })
    }
</script>
</body>
</html>