<!DOCTYPE html>
<html>
<head>
	<!-- <title>Dashboard</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="<%= baseurl() %>css/style.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/mystyle.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/style_button.css">
	<link rel="stylesheet" href="<%= baseurl() %>css/component.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/responsive.css">
    <link rel="stylesheet" href="<%= baseurl() %>plugin/fileinput/component.css">
    <link rel="stylesheet" href="<%= baseurl() %>plugin/fileinput/normalize.css">
</head>
<body>
<div class="wrapper">
	<div class="lSide">
		<% include ./partials/sidebar %>
	</div>
	<div class="rSide desk">
		<div class="head gradientr desk">
			<% include ./partials/topdesk %>
		</div>
		<div class="mainbox size-std column">
			<div class="title-content size-std">
				<a href="<%= baseurl() %>">DASHBOARD</a> > <a href="<%= baseurl() %>service">Service</a> > <a href="<%= baseurl() %>service/detail/<%= filesrv[0].id_excelsrv %>"> <%= filesrv[0].filename_excelsrv %></a> > <%= service[0].id_service %>
            </div>
            <div class="cols-12 column containt" style="margin: 10px 0; background-color: #ffffff;">
                <div class="headtitle trans">
                    <p class="nopad size-head4" style="padding: 5px 15px; position: relative;">
                        Upload Services Files
                    </p>
                    <ul class="tab-image-setting nopad">
                        <li><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" href="assigntome"></li>
                    </ul>
                </div>
				<div class="cols-12" style="padding: 35px 0;">
				<form action="<%= baseurl() %>service/update/<%= service[0].id_excelsrv %>/<%= service[0].id_service %>" method="POST">
                    <table class="full-length size-std basic-tables unbordered" style="border-right:1px solid #dfe8f1" cellpadding="8" cellspacing="8">
						<tr>
							<td style="text-align: right; width: 40%;">*Date of Sent</td>
							<td>
								<input type="hidden" name="id_service" class="frm-std size-std" style="border-radius: 0; text-transform: uppercase;" required="" value="<%= service[0].id_service %>">
								<input type="datetime-local" name="tgl_service" class="frm-std size-std" style="border-radius: 0;" required="" value="<%= moment(service[0].tgl_uploadsrv).format('YYYY-MM-DDTHH:MM') %>">
								<% for (showerr of tgluploadsrv_err){ %>
									<%= showerr.error_msg %>
								<% } %>
							</td>
						</tr>
						<tr>
							<td style="text-align: right; width: 40%;">*Dealer Code</td>
							<td>
								<input type="text" name="id_dealer" class="frm-std size-std" style="border-radius: 0;" required="" value="<%= service[0].id_dealer %>">
								<% for (showerr of iddealer_err){ %>
									<%= showerr.error_msg %>
								<% } %>
							</td>
						</tr>
						<tr>
							<td style="text-align: right; width: 40%;">*Owner Name</td>
							<td>
								<input type="text" name="nama_stnk" class="frm-std size-std" style="border-radius: 0;" required="" value="<%= service[0].nama_stnk %>">
								<% for (showerr of namastnk_err){ %>
									<%= showerr.error_msg %>
								<% } %>
							</td>
						</tr>
						<tr>
							<td style="text-align: right; width: 40%;">*User Name</td>
							<td>
								<input type="text" name="user_name" class="frm-std size-std" style="border-radius: 0;" required="" value="<%= service[0].user_name %>">
							</td>
						</tr>
						<tr>
							<td style="text-align: right; width: 40%;">*Mobile No</td>
							<td>
								<input type="text" name="no_hp" class="frm-std size-std" style="border-radius: 0;" required="" value="<%= service[0].no_hp %>">
								<% for (showerr of nohp_err){ %>
									<%= showerr.error_msg %>
								<% } %>
							</td>
						</tr>
						<tr>
							<td style="text-align: right; width: 40%;">*Model</td>
							<td>
								<input type="text" name="type_kendaraan" class="frm-std size-std" style="border-radius: 0;" required="" value="<%= service[0].type_kendaraan %>">
								<% for (showerr of type_err){ %>
									<%= showerr.error_msg %>
								<% } %>
							</td>
                        </tr>
						<tr>
							<td style="text-align: right; width: 40%;">*Chassis No</td>
							<td>
								<input type="text" name="no_rangka" class="frm-std size-std" style="border-radius: 0; text-transform: uppercase;" required="" value="<%= service[0].no_rangka %>">
								<% for (showerr of norangka_err){ %>
									<%= showerr.error_msg %>
								<% } %>
							</td>
						</tr>
						<tr>
							<td style="text-align: right; width: 40%;">*Permanent Reg No</td>
							<td>
								<input type="text" name="no_polisi" class="size-std" style="border-radius: 0; text-transform: uppercase;" required="" value="<%= service[0].no_polisi %>">
								<% for (showerr of nopol_err){ %>
									<%= showerr.error_msg %>
								<% } %>
							</td>
						</tr>
                        <tr>
							<td style="text-align: right; width: 40%;">*Km</td>
							<td>
								<input type="number" name="km" class="size-std" style="border-radius: 0; text-align: right;" required="" value="<%= service[0].km %>"> km 
								<% for (showerr of km_err){ %>
									<%= showerr.error_msg %>
								<% } %>
							</td>
						</tr>
						<tr>
							<td style="text-align: right; width: 40%;">*Most Recent Service Date</td>
							<td>
								<input type="datetime-local" name="tgl_service" class="frm-std size-std" style="border-radius: 0;" required="" value="<%= moment(service[0].tgl_service).format('YYYY-MM-DDTHH:MM') %>">
								<% for (showerr of tglsrv_err){ %>
									<%= showerr.error_msg %>
								<% } %>
							</td>
						</tr>
						<tr>
							<td style="text-align: right; width: 40%;">*Nama Sa</td>
							<td>
								<input type="text" name="name_sa" class="frm-std size-std" style="border-radius: 0;" required="" value="<%= service[0].name_sa %>">
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center"><input type="submit" value="Save Change" class="myButton-flat-green"></td>
						</tr>
					</table>
				</form>	
                </div>
		    </div>
		</div>
	</div>
</div>
</body>
<% include ./partials/footer %>

<link rel="stylesheet" href="<%= baseurl() %>plugin/fileinput/custom-file-input.js">
</html>