<!DOCTYPE html>
<html>
<head>
	<!-- <title>Dashboard</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="<%= baseurl() %>css/style.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/mystyle.css">
    <link rel="stylesheet" href="<%= baseurl() %>css/style_button.css">
	<link rel="stylesheet" href="<%= baseurl() %>css/component.css">
	<link rel="stylesheet" href="<%= baseurl() %>css/responsive.css">
	<link rel="stylesheet" href="<%= baseurl() %>css/chart.css">
	<style>
		.canvasjs-chart-credit{
			display: none;
		}
		table th{
			position: sticky;
			top: 0;
			position: -webkit-sticky;
			z-index: 99;
		}
		th.rotate {
			/* Something you can count on */
			width: 22px;
			height: 270px;
			white-space: nowrap;
		}

		th.rotate > div {
			transform: 
				/* Magic Numbers */
				translate(-3px, 103px)
				/* 45 is really 360 - 45 */
				rotate(270deg);
			width: 30px;
		}
		th.rotate > div > span {
			border-bottom: 1px solid #ccc;
			padding: 5px 0;
			letter-spacing: .5px;
		}
		.square{
			position: relative;
			margin: auto;
			width: 20px;
			height: 20px !important;
			margin: 3px 0;
		}
		.used{
			background: #C6E48B;
		}
		.unused{
			background: #e6e6e6;
		}
	</style>
</head>
<body>
<div class="wrapper">
	<div class="lSide">
		<% include ./partials/sidebar %>
	</div>
	<div class="rSide">
		<div class="head gradientr desk">
			<% include ./partials/topdesk %>
		</div>
		<div class="mainbox size-std column" style="overflow: unset;">
			<div class="title-content size-std">
				DASHBOARD - <%= login.nameses+" - "+login.iddealer %>
			</div>
			<div class="cols-6 containt" style="margin: 20px 0;">
				<div class="headtitle trans" style="margin-bottom: 0;">
					<p class="size-head4 nopad">Data Chart</p>
					<p class="size-std nopad">Little title</p>
				</div>
				<div style="width: 100%; height: 320px;"  id="chartContainer">
				</div>
			</div>
			<div class="cols-6" style="padding: 0 5px; margin: 10px 0;">
				<!-- <div class="column" style="width: 100%; padding: 10px 0;">
					<div class="spccols-2 delay square btn-icon-big" style="background-color: #ffffff; border: 1px solid #d6d5d5; text-align: center;">
						<table style="height: 100%; width: 100%; color: #959a9c;">
							<tr>
								<td>
									<a href="<%= baseurl() %>report/import">
										<img src="<%= baseurl() %>images/icon/upload-delivery.png" alt="Upload Project" style="width: 55%; vertical-align: middle;">
										<br><br>
										<b>Import Report</b>
									</a>
								</td>
							</tr>
						</table>
					</div>
					<div class="spccols-2 delay square btn-icon-big" style="background-color: #ffffff; border: 1px solid #d6d5d5; text-align: center;">
						<table style="height: 100%; width: 100%; color: #959a9c;">
							<tr>
								<td>
									<a href="<%= baseurl() %>service/Upload">
										<img src="<%= baseurl() %>images/icon/upload-service.png" alt="Upload Project" style="width: 55%; vertical-align: middle;">
										<br><br>
										<b>Upload Service</b>
									</a>
								</td>
							</tr>
						</table>
					</div>
					<div class="spccols-2 delay square btn-icon-big" style="background-color: #ffffff; border: 1px solid #d6d5d5; text-align: center;">
						<table style="height: 100%; width: 100%; color: #959a9c;">
							<tr>
								<td>
									<a href="<%= baseurl() %>service/Upload">
										<img src="<%= baseurl() %>images/icon/phone-cati.png" alt="Upload Project" style="width: 55%; vertical-align: middle;">
										<br><br>
										<b>CATI</b>
									</a>
								</td>
							</tr>
						</table>
					</div>
				</div> -->
			</div>
			<div class="cols-12 column" style="overflow: unset;">
				<div class="spccols-12">
					<div style="width: 100%;" class="containt short-table">
						<div class="headtitle trans" style="margin-bottom: 0;">
							<p class="size-head4 nopad">Failed</p>
							<ul class="tab-image-setting nopad">
								<li><img src="<%= baseurl() %>images/icon/arrow-up.png" class="btn-tab-toggle delay" href="deliveryrecent"></li>
								<li>
									<a href="<%= baseurl() %>service/upload">
										<img src="<%= baseurl() %>images/icon/plus.png" class="btn-tab-toggle delay">
									</a>
								</li>
							</ul>
						</div>
						<div class="list-control">
							<div class="list-control-box">
								<button class="option-click btn-list-control size-std" href="#list-control-show">
									Show :&nbsp; 20 
									<img src="<%= baseurl() %>images/icon/arrow-down.png" class="icon-list-control">
								</button>
								<div class="option-box option-menu shadow half box-list-control" id="list-control-show">
									<ul class="full-length nopad">
										<a href=""><li class="pad-tb size-std">50</li></a>
										<a href=""><li class="pad-tb size-std">100</li></a>
										<a href=""><li class="pad-tb size-std">200</li></a>
									</ul>
								</div>
							</div>	
							<div class="list-control-box">
								<button class="option-click btn-list-control size-std" href="#list-control-sort">
									Sort By :&nbsp; ID Dealer
									<img src="<%= baseurl() %>images/icon/arrow-down.png" class="icon-list-control">
								</button>
								<div class="option-box option-menu shadow half box-list-control" id="list-control-sort">
									<ul class="full-length nopad">
										<% for(showdealer of dealer){ %>
											<a href=""><li class="pad-tb size-std"><%= showdealer.name_dealer  %></li></a>
										<% }%>
									</ul>
								</div>
							</div>				
							<div class="valchecked"></div>
							<div class="list-control-box" style="float: right;">
								<table>
									<tr>
										<td>
											<label for="" class="right-icon">
												<input type="search">
												<img src="<%= baseurl() %>images/icon/search1.png" alt="">
											</label>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="table-wrapper table-toggle servicerecent" style="width: 100%;">
							<table class="size-std spc-tb full-tables" style="width: 100%;" cellspacing="0" cellpadding="0">
								<tr>
									<th style="width: 100px;">Username</th>
									<th class="rotate"><div><span>Karyawan Nissan</span></div></th>
									<th class="rotate"><div><span>Tidak sesuai dengan nama yang</span></div></th>
									<th class="rotate"><div><span>Tidak pernah melakukan servis di</span></div></th>
									<th class="rotate"><div><span>Supir yang melakukan servis di dea</span></div></th>
									<th class="rotate"><div><span>Mobil sudah dijual</span></div></th>
									<th class="rotate"><div><span>Orang lain yang melakukan servis</span></div></th>
									<th class="rotate"><div><span>Menolak di wawancara (dari awal - B)</span></div></th>
									<th class="rotate"><div><span>Expatriat</span></div></th>
									<th class="rotate"><div><span>Menolak untuk melanjutkan wawancara</span></div></th>
									<th class="rotate"><div><span>Responden sedang sibuk</span></div></th>
									<th class="rotate"><div><span>Sedang di luar negeri</span></div></th>
									<th class="rotate"><div><span>Nomor tidak aktif</span></div></th>
									<th class="rotate"><div><span>Tidak ada sinyal  / tidak ada nada sambung</span></div></th>
									<th class="rotate"><div><span>Nomor telepon dialihkan</span></div></th>
									<th class="rotate"><div><span>Nomor tidak lengkap</span></div></th>
									<th class="rotate"><div><span>Nomor tidak terdaftar</span></div></th>
									<th class="rotate"><div><span>Tidak bisa dihubungi</span></div></th>
									<th class="rotate"><div><span>Tulalit</span></div></th>
									<th class="rotate"><div><span>Nomor telepon yang diberikan adalah </span></div></th>
									<th class="rotate"><div><span>Salah sambung</span></div></th>
									<th class="rotate"><div><span>Wawancara terputus</span></div></th>
									<th class="rotate"><div><span>Telepon tidak diangkat</span></div></th>
									<th class="rotate"><div><span>Nomor sibuk</span></div></th>
									<th class="rotate"><div><span>Suara tidak jelas</span></div></th>
									<th class="rotate"><div><span>Telepon selalu ditolak / direject</span></div></th>
									<th class="rotate"><div><span>Nomor Fax / modem</span></div></th>
									<th class="rotate"><div><span>Dead Sample (sudah dikontak 8 kali)</span></div></th>
									<th class="rotate"><div><span>Data Duplicated</span></div></th>
									<th class="rotate"><div><span>Fresh sample (not called)</span></div></th>
								</tr>
								<% 
								for(res of reason){ 
									if(res.karyawan==1){
										var karyawan = "used"
									}else{
										var karyawan = "unused"
									}
									if(res.tidak_sesuai==1){
										var tidak_sesuai = "used"
									}else{
										var tidak_sesuai = "unused"
									}
									if(res.tidak_pernah_service==1){
										var tidak_pernah_service = "used"
									}else{
										var tidak_pernah_service = "unused"
									}
									if(res.supir==1){
										var supir = "used"
									}else{
										var supir = "unused"
									}
									if(res.mobil_dijual==1){
										var mobil_dijual = "used"
									}else{
										var mobil_dijual = "unused"
									}
									if(res.orang_lain==1){
										var orang_lain = "used"
									}else{
										var orang_lain = "unused"
									}
									if(res.menolak_diawal==1){
										var menolak_diawal = "used"
									}else{
										var menolak_diawal = "unused"
									}
									if(res.expatriat==1){
										var expatriat = "used"
									}else{
										var expatriat = "unused"
									}
									if(res.menolak_ditengah==1){
										var menolak_ditengah = "used"
									}else{
										var menolak_ditengah = "unused"
									}
									if(res.sibuk==1){
										var sibuk = "used"
									}else{
										var sibuk = "unused"
									}
									if(res.diluar_negeri==1){
										var diluar_negeri = "used"
									}else{
										var diluar_negeri = "unused"
									}
									if(res.mailbox==1){
										var mailbox = "used"
									}else{
										var mailbox = "unused"
									}
									if(res.tidak_aktif==1){
										var tidak_aktif = "used"
									}else{
										var tidak_aktif = "unused"
									}
									if(res.no_signal==1){
										var no_signal = "used"
									}else{
										var no_signal = "unused"
									}
									if(res.dialihkan==1){
										var dialihkan = "used"
									}else{
										var dialihkan = "unused"
									}
									if(res.no_tidaklengkap==1){
										var no_tidaklengkap = "used"
									}else{
										var no_tidaklengkap = "unused"
									}
									if(res.not_connected==1){
										var not_connected = "used"
									}else{
										var not_connected = "unused"
									}
									if(res.tulalit==1){
										var tulalit = "used"
									}else{
										var tulalit = "unused"
									}
									if(res.no_relatif==1){
										var no_relatif = "used"
									}else{
										var no_relatif = "unused"
									}
									if(res.salah_sambung==1){
										var salah_sambung = "used"
									}else{
										var salah_sambung = "unused"
									}
									if(res.terputus==1){
										var terputus = "used"
									}else{
										var terputus = "unused"
									}
									if(res.tidak_diangkat==1){
										var tidak_diangkat = "used"
									}else{
										var tidak_diangkat = "unused"
									}
									if(res.no_sibuk==1){
										var no_sibuk = "used"
									}else{
										var no_sibuk = "unused"
									}
									if(res.unclear_voice==1){
										var unclear_voice = "used"
									}else{
										var unclear_voice = "unused"
									}
									if(res.reject==1){
										var reject = "used"
									}else{
										var reject = "unused"
									}
									if(res.fax_modem==1){
										var fax_modem = "used"
									}else{
										var fax_modem = "unused"
									}
									if(res.dead_sample==1){
										var dead_sample = "used"
									}else{
										var dead_sample = "unused"
									}
									if(res.duplicate==1){
										var duplicate = "used"
									}else{
										var duplicate = "unused"
									}
									if(res.fresh_sample==1){
										var fresh_sample = "used"
									}else{
										var fresh_sample = "unused"
									}
								%>
								<tr>
									<td><%= res.user_name %></td>
									<td style="position: relative;"><div class="square <%= karyawan %>"></div></td>
									<td style="position: relative;"><div class="square <%= tidak_sesuai %>"></div></td>
									<td style="position: relative;"><div class="square <%= tidak_pernah_service %>"></div></td>
									<td style="position: relative;"><div class="square <%= supir %>"></div></td>
									<td style="position: relative;"><div class="square <%= mobil_dijual %>"></div></td>
									<td style="position: relative;"><div class="square <%= orang_lain %>"></div></td>
									<td style="position: relative;"><div class="square <%= menolak_diawal %>"></div></td>
									<td style="position: relative;"><div class="square <%= expatriat %>"></div></td>
									<td style="position: relative;"><div class="square <%= menolak_ditengah %>"></div></td>
									<td style="position: relative;"><div class="square <%= sibuk %>"></div></td>
									<td style="position: relative;"><div class="square <%= diluar_negeri %>"></div></td>
									<td style="position: relative;"><div class="square <%= mailbox %>"></div></td>
									<td style="position: relative;"><div class="square <%= tidak_aktif %>"></div></td>
									<td style="position: relative;"><div class="square <%= no_signal %>"></div></td>
									<td style="position: relative;"><div class="square <%= dialihkan %>"></div></td>
									<td style="position: relative;"><div class="square <%= no_tidaklengkap %>"></div></td>
									<td style="position: relative;"><div class="square <%= not_connected %>"></div></td>
									<td style="position: relative;"><div class="square <%= tulalit %>"></div></td>
									<td style="position: relative;"><div class="square <%= no_relatif %>"></div></td>
									<td style="position: relative;"><div class="square <%= salah_sambung %>"></div></td>
									<td style="position: relative;"><div class="square <%= terputus %>"></div></td>
									<td style="position: relative;"><div class="square <%= tidak_diangkat %>"></div></td>
									<td style="position: relative;"><div class="square <%= no_sibuk %>"></div></td>
									<td style="position: relative;"><div class="square <%= unclear_voice %>"></div></td>
									<td style="position: relative;"><div class="square <%= reject %>"></div></td>
									<td style="position: relative;"><div class="square <%= fax_modem %>"></div></td>
									<td style="position: relative;"><div class="square <%= dead_sample %>"></div></td>
									<td style="position: relative;"><div class="square <%= duplicate %>"></div></td>
									<td style="position: relative;"><div class="square <%= fresh_sample %>"></div></td>
								</tr>
								<% } %>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<% include ./partials/footer %>
<script>
	window.onload = function () {
	
	var options = {
		subtitles: [{
			text: "As of April, 2020"
		}],
		animationEnabled: true,
		data: [{
			type: "pie",
			startAngle: 40,
			toolTipContent: "<b>{label}</b>: {y}%",
			showInLegend: "true",
			legendText: "{label} ({value})",
			indexLabelFontSize: 16,
			indexLabel: "{label} - {y}%",
			dataPoints: [
				{ y: <%= successpercent %>, label: "Success", value: <%= success %> },
				{ y: <%= failedpercent %>, label: "Failed", value: <%= failed %> }
			]
		}]
	};
	$("#chartContainer").CanvasJSChart(options);
	
	}
</script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="<% baseurl() %>js/chart.js" type="text/javascript"></script>
</html>